.dots {
    fill: rgb(251, 117, 96);
    stroke: rgb(255, 255, 255);
    stroke-width: 3;
}

.yaxis path {
  fill: none;
  stroke: white;
}

.xaxis path {
  fill: none;
  stroke: white;
}



.tick text {
	fill: white;
	font-size: 18px;

}

.tick line {
  	stroke: white;
	stroke-width: 2;
}
.chartsvg{

    background: rgba(83, 74, 72, .60);


}

#blurdiv{
	  display: inline-block;

   z-index: -2;
  position: absolute;

    background-image:url('../image.jpg');
    background-size:cover;
    -webkit-filter: blur(25px);
    -moz-filter: blur(4px);
    -ms-filter: blur(4px);
    -o-filter: blur(4px);
    filter: blur(8px);
}

#chart1{

}

body{
	    background-size:cover;

}



